/*
Barra de navegação
*/
nav.black{
  background-color: black;
}
nav.branco{
  color:white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #008eaa;
}
.navbar-light .navbar-toggler{
  color: white;
  border-color: whitesmoke;
}
/*
conteudos
*/
.caixa{
  padding: 60px 0;
}
.redondo{
  border-radius: 10%;
}
/*Formatação slide*/


.borda{
  border: 1px solid red;
}

.topo{
  padding-top: 111px;
}

#carousel-indicadores{
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}
