/*
Barra de navegação
*/
nav.black{
  background-color: black;
}
nav.branco{
  color:white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #008eaa;
}
.navbar-light .navbar-toggler{
  color: white;
  border-color: whitesmoke;
}
/*
conteudos
*/
.caixa{
  padding: 60px 0;
}
.redondo{
  border-radius: 10%;
}

.redondo-slide{
  border-radius: 1%;
}

.borda{
  border: 1px solid red;
}

.topo{
  padding-top: 150px;
}