body{
  overflow-x: hidden;
}


/*
Barra de navegação
*/
nav.black{
  background-color: black;
}
nav.branco{
  color:white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #008eaa;
}
.navbar-light .navbar-toggler{
  color: white;
  border-color: whitesmoke;
}
/*
conteudos
*/
.caixa{
  padding: 60px 0;
}
.redondo{
  border-radius: 10%;
}
/*Formatação slide*/


.borda{
  border: 1px solid red;
}

.topo{
  padding-top: 111px;
}

#carousel-indicadores{
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}
/*
Programações
*/
.linhaTopo{
  border-top: 2px solid #000;
}

h4{
  color: #000;
  font-size: 1.1;
}

.detalhes a{
  color: #052250;
}
.detalhes a:hover{
  color: #008eaa;
  text-decoration: none;
}
/*
Area de programações
*/
.jumbotron {
  padding: 1px 1px;
  }

  .redondo_info{
      border-radius: 20px;
  }

  .azul{
      color: #425172;
  }

  .imgProg{
    width: 200px;
    height: 150px;
  }
/*
Rodapé
*/
footer{
  background: #000;
  padding: 50px 0px 20px 0px;
  position: relative;
}

.display-personalizado {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2;
}

footer .navbar-nav a{
  color: white;
  font-size: 0.8em;

}
footer .navbar-nav a:hover{
  color: #9bf0e1;
  text-decoration: none;
  
}

footer ul{
  list-style: none;
}
footer ul li{
  float: right;
  margin: 0px 5px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .linhaTopo{
   border: 1px solid #000; 
  }
  h4{
    font-size: 0.9em;
  }
  .detalhes a{
    font-size: 0.9em;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .linhaTopo{
    border: 1px solid #000; 
   }
   h4{
     font-size: 1em;
   }
   .detalhes a{
     font-size: 1em;
   }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  
 }  

/*
Barra de navegação
*/
nav.black{
  background-color: black;
}
nav.branco{
  color:white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #008eaa;
}
.navbar-light .navbar-toggler{
  color: white;
  border-color: whitesmoke;
}